h1{
  margin: 10px;
  text-align: center;
  font-family: "Calibri","Arial",sans-serif;
}

#infos_cartes{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

#map{
  width: 1000px;
  height: 700px;
  margin: 50px;
}

#position{
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: "Calibri","Arial",sans-serif;
}
