h1{
  margin: 10px;
  text-align: center;
  font-family: "Calibri","Arial",sans-serif;
}

#container{
  display:flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
}

#infos_carte{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

#map{
  display: block;
  width: 700px;
  height: 400px;
  margin: 50px;
}

#position{
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: "Calibri","Arial",sans-serif;
}

#formulaire{
  display: block;
  width: 180px;
  margin: 50px;
}

#hello_tweet p{
	text-align: center;
	font-family: "Calibri","Arial",sans-serif;
}

#hello_photo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	
}
